{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/react"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "utils": "./src/utils",
        "constants": "./src/constants",
        "components": "./src/components",
        "types": "./src/types"
      }
    }]
  ]
}
